<% provide(:title, @user.name) %>

<div id="loading"></div>

<div id="contentContainer">
<div id="content">

<div id="main">
	<div id="handle"></div>
	<div id="closeBox"></div>
	
	<h2 class="entrytitle">Show</h2>
	
	<!--BREADCRUMBS-->
	<div id="crumbs"><a href="/">Home</a> &nbsp;/&nbsp; <span class="current">Show</span></div>
    <h1><%= @user.name %></h1>
   </div>
    <div class="span8">
   <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
    </div>
  </div>
  </div>
  

