<!--start footer-->
<div id="footer">

	<!--WIDGET PANEL OPEN/CLOSE-->
	<a href="#" id="widgetsOpen" title="More" class="widgetsToggle">+</a>
	<a href="#" id="widgetsClose" title="Close" class="widgetsToggle">&times;</a>	
	
	<!--SEARCH (NOT FUNCTIONAL)-->	
	<div id="footerSearch">
		<form method="get" action="/">
			<input type="image" src="images/mag_glass.png" id="searchsubmit" alt="GO!" />
			<input type="text" value="" onfocus="this.value=''; this.onfocus=null;"  name="s" id="s" />
		</form>
	</div>
	
	<!--SOCIAL BUTTONS-->
	<div id="socialStuff">
		<a class="socialicon" id="rssIcon" href="#"  title="Subscribe via RSS" rel="nofollow"></a>
		<a class="socialicon" id="facebookIcon" href="#"  title="Facebook" rel="nofollow"></a>
		<a class="socialicon" id="twitterIcon" href="#" title="Follow on Twitter" rel="nofollow"></a>
		<!--
		<a class="socialicon" id="vimeoIcon" href="#" title="Vimeo" rel="nofollow"></a>
		<a class="socialicon" id="skypeIcon" href="#" title="Skype" rel="nofollow"></a>
		<a class="socialicon" id="myspaceIcon" href="#" title="MySpace" rel="nofollow"></a>
		<a class="socialicon" id="flickrIcon" href="#" title="Flickr" rel="nofollow"></a>
		<a class="socialicon" id="linkedinIcon" href="#" title="LinkedIn" rel="nofollow"></a>
		<a class="socialicon" id="youtubeIcon" href="#" title="YouTube" rel="nofollow"></a>
		-->
	</div>
		
	<!--COPYRIGHT NOTICE - IMPORTANT! DO NOT REMOVE GOOGLE NOTICE -->
	<div id="copyright">
	&copy; 2012 travelbuddy.com
	</div>	
	
	<!--THIS SHOULD BE THE TITLE OF THE PAGE-->
	<div class="pageContent">
		<h2>Page Title Here</h2>
	</div>
</div><!--end footer-->